main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 13rem;
  width: auto;
  border-radius: 15%;
  box-shadow: 10px 5px 5px #827676;
}

main p{
  background-color: gainsboro;
  color: orangered;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 10px 5px 5px #827676;
}

footer{
  border: thin solid black;
  color:  orangered;
}
h1{
  color: orangered;
}
ul{
  list-style: none;
}
